@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* ZapControl Color Palette */
  --night: #0d0a0b;
  --charcoal: #454955;
  --magnolia: #f3eff5;
  --apple-green: #72b01d;
  --office-green: #3f7d20;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--magnolia);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
